body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 15px;
  padding-left: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 { 
  padding-left: 25px;
  line-height: 0em;
    }

.Grid-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .text {
  padding-left: 30px;
} */

.iframe-div {    
    padding-left: 40px;
    width: 830px;
    height: 600px;
    /* overflow-y: auto;
    overflow-x: auto; */
    /* resize: both;
    position: relative;
    z-index: 2; */
    transform: scale(0.8);
    transform-origin: 0 0;
    margin-bottom: -100px;
    padding-top: 30px;  
    }

iframe {
  width: 175%;
  height: 125%;
  transform: scale(0.82);
  transform-origin: 0 0;
  }

  .Aros {
    width: 600px;    
  } 

  .website {
    width: 710px;
  }
  
.photos {
  position: relative;  
  padding-left: 30px;
  }

img {  
  height: 80vh;
  padding-right: 37.5px;
  padding-bottom: 30px;
} 

.image {
  padding-right: 30px;
}