body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.StockAccountant {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/StockAccountant.jpg');
}

.ProductionAccountant {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/ProductionAccountant.jpg');
}

.FinancieelAdministrateur {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/FinancieelAdministrateur.jpg');
}

.Werkvoorbereider {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/WerkvoorbereiderNieuwbouw.png');
}

.DataCleaner {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/DataCleaner.jpg');
}

.Timmerman {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/Timmerman.jpg');
}

/* .Woonwijk {
  min-height: 100vh;
  background-size: cover;
  background-image: url('./Assets/Woonwijk.jpg');
} */