body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 15px;
  padding-left: 8px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 { 
  padding-left: 25px;
  line-height: 0em;
}

h3 span {
  font-weight: normal;
}  

.Grid-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  padding-left: 30px;
  vertical-align: bottom;
  /* width: 550px; */
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}

.iframe-div {    
    padding-left: 40px;
    width: 100%;
    height: 600px;
    /* overflow-y: auto;
    overflow-x: auto; */
    /* resize: both;
    position: relative;
    z-index: 2; */
    transform: scale(0.85);
    transform-origin: 0 0;
    margin-bottom: -120px;
    /* padding-top: 30px; */
    }

.iframe-link {    
  /* padding-left: 40px; */
  padding-right: 15px;
  min-width: 650px;
  height: 450px;  
  /* transform-origin: 0 0; */
  /* margin-bottom: -100px; */
  /* margin-right: -150px; */
  }

iframe {
    width: 100%;
    height: 100%;
    /* transform: translate(0, 10%); */
    /* transform-origin: contain; */
    zoom: 0.45;   
  }

  .CV {
    width: 88%;
    height: 150%;
    transform: scale(0.82);
    transform-origin: 0 0;
  }

  .Aros {
    width: 600px;    
  } 

  .website {
    width: 710px;
  }
  
.photos {
  position: relative;  
  padding-left: 30px;
  }

img {  
  height: 80vh;
  padding-right: 37.5px;
  padding-bottom: 30px;
} 

.image {
  padding-right: 30px;
}

.hidden {
  display: none;
}